<div id="ls-post-details" class="row">
    <div class="col-md-2 centered">
      <div class="text-center"> Post Details </div>
    </div>
    <div class="col-md-10 centered ls-block post-details-block">
      <div class="col-md-8 image-gallery">

        <image-carousel data="post"></image-carousel>

          <fieldset class="col-md-12 title-block">
            <div class="col-md-12">
              <label>Title</label>
              <p>
                {{post.title}}
              </p>
            </div>

            <div class="col-md-12">
              <label>Description</label>
              <p >
               {{post.description}}
              </p>
            </div>
          </fieldset>
      </div>
      <div class="col-md-4 details-bock">

        <fieldset class="col-md-12">

            <div class="col-md-12">
              <label>Type</label>
              <p>
                {{post.postType}}
              </p>
            </div>

            <div class="col-md-12">
              <label>Category</label>
              <p>
                {{postCategory.name}}
              </p>
            </div>

            <div class="col-md-12">
              <label>From City</label>
              <p>
                {{postFromCity.name}}
              </p>
            </div>

            <div class="col-md-12">
              <label>From Location</label>
              <p>
                {{postFromLocation.name}}
              </p>
            </div>

            <div class="col-md-12">
              <label>To City</label>
              <p>
                {{postToCity.name}}
              </p>
            </div>

            <div class="col-md-12">
              <label>To Location</label>
              <p>
                {{postToLocation.name}}
              </p>
            </div>

            

            <div class="col-md-12">
              <label>Journey Date</label>
              <p>
                {{post.processDate | date}}
              </p>
            </div>

            <div class="col-md-12">
              <label>Brand</label>
              <p>
                {{post.postDetails.brand}}
              </p>
            </div>

            <div class="col-md-12">
              <label>Unique ID</label>
              <p>
                {{post.postDetails.uniqueId}}
              </p>
            </div>

            <div class="col-md-12">
              <label>Capacity</label>
              <p>
                {{post.postDetails.capacity}}
              </p>
            </div>

            <div class="col-md-12">
              <label>Availability</label>
              <p>
                {{post.postDetails.availability}}
              </p>
            </div>

            <div class="col-md-12">
              <label>Amenities</label>
              <p>
                {{post.postDetails.amenities}}
              </p>
            </div>
        </fieldset>

        <fieldset class="col-md-12  contact-details" ng-if="post.displayContactDetails">

          <div class="col-md-6 centered text-center">
              <label>Contact Details</label>
              <p>
                {{user.firstName }}  {{$root.currentUser.lastName}}
              </p>
              <p>
                {{user.mobile }}
              </p>
               <p>
                {{user.email }}
              </p>
          </div>

        </fieldset>
      </div>
    </div>
</div>
