<div id="ls-post-details" class="row">
    <div class="col-md-2 centered">
      <div class="text-center"> Post Details </div>
    </div>
    <div class="col-md-10 centered ls-block post-details-block">
      <div class="col-md-6 image-gallery">

        <image-carousel data="postDetails"></image-carousel>
      </div>
      <div class="col-md-6 details-bock">

        <fieldset class="col-md-12">
            <div class="col-md-12">
              <label>Title</label>
              <p>
                {{post.title}}
              </p>
            </div>

            <div class="col-md-12">
              <label>Description</label>
              <p >
               {{post.description}}
              </p>
            </div>

            <div class="col-md-6">
              <label>Type</label>
              <p>
                {{post.postType}}
              </p>
            </div>

            <div class="col-md-6">
              <label>Type</label>
              <p>
                {{post.postLocation | object}}
              </p>
            </div>

            <div class="col-md-6">
              <label>Journey Date</label>
              <p>
                {{post.processDate | date}}
              </p>
            </div>

            <div class="col-md-6">
              <label>Brand</label>
              <p>
                {{post.postDetails.brand}}
              </p>
            </div>

            <div class="col-md-6">
              <label>Unique Id</label>
              <p>
                {{post.postDetails.uniqueId}}
              </p>
            </div>

            <div class="col-md-6">
              <label>Capacity</label>
              <p>
                {{post.postDetails.capacity}}
              </p>
            </div>

            <div class="col-md-6">
              <label>Availability</label>
              <p>
                {{post.postDetails.availability}}
              </p>
            </div>
        </fieldset>
      </div>
    </div>
</div>
