<div class="ls-new-posts-container container-fluid">
  <div class="row">
    <div class="col-md-2 centered">
      <div class="text-center"> Submit Post </div>
    </div>
    
    
      <div class="col-md-12 centered ls-block new-post-form">
        <form  name="postForm" ng-submit="submitPost()" novalidate>
          <fieldset class="form-group col-lg-12">
            <label for="title">Title</label>
            <input ng-model="post.title" 
                   type="text"
                   class="form-control" 
                   name="title" 
                   placeholder="Title"
                   ng-minlength="3"
                   ng-maxlength="120"
                   required>
              <p ng-show="!formValid && postForm.title.$error.required" class="error-msg">Title is required</p>
              <p ng-show="!formValid && postForm.title.$error.minlength" class="error-msg">Title is too short.</p>
              <p ng-show="!formValid && postForm.title.$error.maxlength" class="error-msg">Title should not exceed 120 characters.</p>
          </fieldset>
          
          <div class="row">
            <fieldset class="form-group col-lg-8">
              <label for="category">Category</label>
             <!--  <select class="form-control"
                name="category"
                ng-options="category as category.name for category in categoriesList" 
                ng-model="post.category"  required>
              </select> -->
              <div>
              {{selectedCategory.name}}
              </div>
            </fieldset>
          </div>

          <div class="row" ng-init="post.type='share'">
            <fieldset class="form-group col-lg-8">
              <label for="type">Type</label>
              <select class="form-control"
                ng-required="true"
                ng-model="post.postType"  required>
                <option value="share" >Share</option>
                <option value="requirement">Requirement</option>
              </select>
            </fieldset>
          </div>

          
          <fieldset class="form-group col-lg-12">
            <label for="description">Description</label>
            <textarea rows="{{textAreaRows}}" 
                      ng-required="true" 
                      ng-model="post.description" 
                      class="form-control" 
                      name="description" 
                      placeholder="Include the brand, model, age and any included accessories."
                      ng-minlength="10"
                      ng-maxlength="600"
                      required>
            </textarea>
            <p ng-show="!formValid && postForm.description.$error.required" class="error-msg">Description is required</p>
            <p ng-show="!formValid && postForm.description.$error.minlength" class="error-msg">Description is too short.</p>
            <p ng-show="!formValid && postForm.description.$error.maxlength" class="error-msg">Description should not exceed 600 characters.</p>

          </fieldset>
          
          
          <!-- Location 1 -->
          <fieldset class="ls-fieldset-block">
            <legend  ng-if="isVisibleField('toLocation')">From Location </legend>
            <legend  ng-if="!isVisibleField('toLocation')">Location </legend>
            
            <fieldset class="form-group col-lg-5">
              <label for="city">City</label><br/>
              <select ng-model="post.city1" 
                      ng-options="city.name for city in cities"
                      ng-change="citySelectionChange(post.city1, 'from')"
                      class="form-control"></select>
            </fieldset>
            <fieldset class="form-group col-lg-5" ng-show="post.city1">
              <label for="location">Location</label><br/>
              <select ng-model="post.location1" 
                      ng-options="location.name for location in fromLocations"
                      class="form-control"></select>
            </fieldset>
          </fieldset>
          
          <!-- Location 2 -->
          <fieldset class="ls-fieldset-block" ng-if="isVisibleField('toLocation')">
            <legend>To Location </legend>
            <fieldset class="form-group col-lg-5">
              <label for="city">City</label><br/>
              <select ng-model="post.city2" 
                      ng-options="city.name for city in cities"
                      ng-change="citySelectionChange(post.city2, 'to')"
                      class="form-control"></select>
            </fieldset>
            <fieldset class="form-group col-lg-5" ng-show="post.city2">
              <label for="location">Location</label><br/>
              <select ng-model="post.location2" 
                      ng-options="location.name for location in toLocations" 
                      class="form-control"></select>
              
            </fieldset>
            
            
          </fieldset>
          
          <!--
          
          <fieldset class="ls-fieldset-block" ng-if="visibleFields.location3">
            <legend>Via Location </legend>
            <fieldset class="form-group col-lg-5">
              <label for="location">Location</label>
              <input ng-model="post.location3Id" type="number" class="form-control" id="location" placeholder="Location">
            </fieldset>
            
            <fieldset class="form-group col-lg-5">
              <label for="city">City</label>
              <input ng-model="post.city3Id" type="number" class="form-control" id="city" placeholder="City">
            </fieldset>
          </fieldset>
          
          -->
        
          <fieldset>
            <fieldset class="form-group col-lg-10" ng-if="isVisibleField('brand')">
              <label for="brand">Brand</label>
              <input ng-model="post.brand" type="text" class="form-control" id="brand" placeholder="Eg, Hundai, KTM, Prestige etc">
            </fieldset>
            <fieldset class="form-group col-lg-10" ng-if="isVisibleField('uniqueId')">
              <label for="unique-id">Unique Reference Id</label>
              <input ng-model="post.uniqueId" type="text" class="form-control" id="unique-id" placeholder="License No., Registration No. etc">
            </fieldset>
          </fieldset>
          
          <fieldset class="form-group">
            <fieldset class="form-group  col-lg-6" ng-if="isVisibleField('capacity')">
              <label for="city">Capacity</label>
              <input ng-model="post.capacity" type="number" class="form-control" id="city" placeholder="Eg, 5, 100 etc">
            </fieldset>
            
            <fieldset class="form-group col-lg-4" ng-if="isVisibleField('capacity')">
              <label for="unique-id">&nbsp</label>
              <select class="form-control" ng-model="post.measurement" ng-options="measurement.label for measurement in measurements"></select> <!-- sync with availability -->
            </fieldset>
          </fieldset>
          
          <fieldset class="form-group">
            <fieldset class="form-group col-lg-6" ng-if="isVisibleField('availability')">
              <label for="unique-id">Availability</label>
              <input ng-model="post.availability" type="number" class="form-control" id="availability" placeholder="Eg: 5, 100 etc">
            </fieldset>
            
            <fieldset class="form-group col-lg-4" ng-if="isVisibleField('availability')">
              <label for="unique-id">&nbsp</label>
              <select class="form-control" ng-model="post.measurement" ng-options="measurement.label for measurement in measurements"></select> <!-- sync with availability -->
            </fieldset>
          </fieldset>
          
          <fieldset class="form-group col-lg-10" ng-if="isVisibleField('amenities')">
            <label for="unique-id">Amenities</label>
            <input ng-model="post.amenities" type="text" class="form-control" id="amenities" placeholder="AC, Car Parking, Security etc">
          </fieldset>
          <fieldset class="form-group col-lg-6" ng-if="isVisibleField('age')">
            <label for="unique-id">Age</label>
            <input ng-model="post.age" type="text" class="form-control" id="age" placeholder="Age">
          </fieldset>
          <fieldset class="form-group  col-lg-4" ng-if="isVisibleField('age')">
            <label for="unique-id">&nbsp</label>
            <select class="form-control" ng-model="post.ageType" ng-options="agePeriod as agePeriod.label for agePeriod in agePeriods"></select> <!-- sync with availability -->
          </fieldset>

          <fieldset class="form-group  col-lg-12">
            <input id="display-contact" type="checkbox" ng-model="post.displayContactDetails"> 
            <label for="display-contact">Display Contact Details</label>
          </fieldset>

          <!-- <div class="row">
            <div class="col-md-4" >
              <div class="drop-box"
                   ngf-select 
                   ng-model="post.uploadedFile1" 
                   name="file" 
                   ngf-pattern="'image/*'"
                   ngf-accept="'image/*'" 
                   ngf-max-size="10MB" 
                   ngf-min-height="100"
                   ngf-drop>
                <div class="col-md-12 image-thumbnail">
                  <img ng-if="post.uploadedFile1"  ngf-thumbnail="post.uploadedFile1 || '/thumb.jpg'">
                </div>
                Select / Drop Image Here
              </div>
            </div>
            
            <div class="col-md-4">
              <div class="drop-box" 
                   ngf-select  
                   ng-model="post.uploadedFile2"
                   ngf-accept="'image/*'" 
                   ngf-max-size="10MB" 
                   ngf-min-height="100"
                   ngf-drop>
                <div class="col-md-12 image-thumbnail">
                  <img ng-if="post.uploadedFile2"  ngf-thumbnail="post.uploadedFile2 || '/thumb.jpg'">
                </div>
                Select / Drop Image Here
              </div>
            </div>
            <div class="col-md-4">
              <div class="drop-box" 
                   ngf-select  
                   ng-model="post.uploadedFile3"
                   ngf-accept="'image/*'" 
                   ngf-max-size="10MB" 
                   ngf-min-height="100"
                   ngf-drop>
                <div class="col-md-12 image-thumbnail">
                  <img ng-if="post.uploadedFile3"  ngf-thumbnail="post.uploadedFile3 || '/thumb.jpg'">
                </div>
                Select / Drop Image Here
              </div>
            </div>
          </div> -->
          
          <div class="row">
            <div class="col-md-12 submit-btn-block" >
              <button class="form-control btn-success" id="posts-submit-btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
      
    
  </div>
  <!--
  <form name="form" enctype="multipart/form-data" action="http://localhost:8099/LetshareCore/rest/post/upload" method="post">
    <input type="file" name="uploadedFile" size="50"/>
    ki
    <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
    ngf-resize="{width: 100, height: 100}">Select</div>
   <button type="submit" >submit</button>
  </form>
  -->
  <!--
  <form name="form" ng-submit="upload(file)">

     <div class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100">Select</div>
   <button type="submit" >submit</button>
  </form>
  -->
</div>
