<div id="gd-about" fade-in>

	<div id="about-title" class="title"><h1>{{about}}</h1></div>
	<div id="description">

<p>Shree kshetra Ganagapur is a holy place of Lord Dattatreya and the 
   place is very important "Darshaneeya kshetra". The place is connected to 
   "Sri Nrusimha Saraswathy Swamy" who is the second incarnation of Lord Dattatreya. 
   Importance of this kshetra was explained by ShreeGuru which can be seen in “Shree Gurucharitra”. 
   This Nirguna Mutt is adorned
   with the Nirguna Padukas.</p>

<p>It stands on the bank of the river Bhima in Afzalpur taluka in Gulbarga district of Karnataka. 
The confluence of Bhima and Amaraja rivers are considered extremely holy. 
Who ever takes bath in Sangam, will be free from their sins and their wishes will be fulfilled. 
There is a temple in Sangam in which the Shree Nrusimha Saraswathy Swamy performed the Anushtaan. 
The 'Shella Padukas' of Swamy are here.</p>

<h3>Shree Nrusimha Saraswathy Swamy - second incarnation of Lord Dattatreya (1378-1458).</h3>

<p>Shree Nrusimha Saraswathy Swamy (1378-1458) is the Purna avatar of Lord Dattatreya. 
He was born in Karanjapur which is modern Lad-Karanja or karanja in Maharashtra Vidharbha region.</p>

<p>Shree Nrusimha Saraswathy Swamy (Shreeguru) was initially named as Narahari or Shaligramadeva. 
His father's name was Madhav and mother's name was Amba-Bhavani. His surname was Kale. 
He was born in a Deshastha Brahmin family Shulka-yajurvedi Brahman Kanva Shaka at Karanja.</p>

<p>Shreeguru assured that he would forever abide at Ganagapur and go round the village for ‘Biksha’ at 12:00 noon. 
Offering “Madhukari” to the people at Ganagapur and taking Biksha from atleast 5 houses is having very importance at this holy place.</p>

<p>Even today Lord Dattatreya takes biksha everyday at Ganagapur. 
ShreeGuru "Sri Nrusimha Saraswathy" confirmed the same and it can be seen in Gurucharitra Adhyay (chapter 21-22).</p>


 
<p>At the time of Antardhan, Shreeguru said to the disciples and citizens of Ganagapur as follows:</p>

<p>Vasathi Rani Sangamase Jate Nithya Bikshese Taya Vare Ganagapurase Madhyana Kaala Pareyasa</p>

<p>"You need not worry. I shall stay at this Ganagapur kshetra secretly. 
I shall have bath at the Bheema-Amaraja Sangam river in the morning. 
In the mid day, I shall come to Ganagapur mutt and accept Biksha in this village and accept your pooja and devotional services. 
From the view point of the public, I am going away from this place. 
My living presence will be experienced by any one who bathes in the Bheema-Amaraja Sangam and takes darshan of my Padukas here. 
I will receive poojas at this Kshetra in the form of Padukas”. 
The Padukas of shreeguru Shree Nrusimha Saraswathy Swamy at this place are “Nirguna Padukas" </p>

<p>Shreeguru has been blessing his devotees with his divine acts on countless occassions. 
The aspirations of Datta devotees who worship him at Ganagapur Kshetra with true love, faith and dedication will be fulfilled. 
The miraculous experiences of such will ever remain hidden in the devotees own hearts. 
This is true even today also and devotees are getting experiences of Lord Datta’s presence at Ganagapur Kshetra. 
Mentally retarded people and people who are suffering from chronic deceases are coming to this place and getting cured from their sad feelings.
 The trouble of spirits and ghosts vanishes and one can get peace of mind with the darshan of Swamy Padukas at this Kshetra. </p> 
	</div>
</div>
