<div id="ls-login" class="row">
  <div class="col-md-4 centered ls-block login-form">
    <form name="resetPasswordForm" ng-submit="resetPassword()" novalidate>
      <fieldset class="form-group col-lg-10 centered margin-v-20">
        <label ><h1>Reset Password</h1></label>
      </fieldset>
      <fieldset>  
        <fieldset class="form-group col-lg-10 centered">
          <p ng-show="formValid && successMsg" class="success-msg text-center">{{successMsg}}</p>
          <p ng-show="formValid && errorMsg" class="error-msg text-center margin-b-10">{{errorMsg}}</p>
        </fieldset>
      </fieldset>
      <fieldset class="form-group col-lg-10 centered margin-v-20">
        <input type="text" 
               name="email"
               placeholder="Email" 
               ng-model="user.email" 
               class="form-control"
               required/>
               
        <!-- show an error if this isn't filled in -->
        <p ng-show="!formValid && resetPasswordForm.email.$error.required" class="error-msg">Email is required.</p>

      </fieldset>
      <fieldset class="form-group col-lg-10 centered margin-v-20">
        <button class="btn ls-btn" >Reset Password</button>
      </fieldset>
    </form>
  </div>
</div>
