<!-- main menu for desktop, tablet and mobile -->
<div id="sv-main-menu-container"  ng-controller="Menu" resize>
    <div class="sv-navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sv-navbar" aria-expanded="false" aria-controls="navbar">
        </button>
    </div>
    <div id="sv-navbar" class="navbar-collapse collapse" aria-expanded="false" navbar>
        <ul class="sv-main-menu-list nav navbar-nav" >
            <li class="sv-menu-list-ls">
                <a ui-sref="view" ui-sref-active="current">{{view}}</a>
            </li>
            
            
            <li class="sv-menu-list-ls pull-right">
              <div class="btn-group" ng-if="$root.currentUser">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                  {{$root.currentUser.email}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a ui-sref="user.settings" ui-sref-active="current">Settings</a>
                  </li>
                  <li>
                    <a ui-sref="user.logout" ui-sref-active="current">Logout</a>
                  </li>
                </ul>
              </div>
              
            </li>
            
            <!--
            <li class="sv-menu-list-ls pull-right">
                <a ui-sref="account" ui-sref-active="current">{{$root.currentUser.email}}</a>
                
                <ul>
                  <li>
                    <a ui-sref="user.logout" ui-sref-active="current">Logout</a>
                  </li>
                </ul>
            </li>
            -->
        </ul>
        <div class="sv-spacer-bar"></div>
    </div><!--/.nav-collapse -->
</div>

