<!-- main menu for desktop, tablet and mobile -->
<div id="ls-main-menu-container"  ng-controller="Menu" resize>
    <div class="ls-navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ls-navbar" aria-expanded="false" aria-controls="navbar">
        </button>
    </div>
    <div id="ls-navbar" class="navbar-collapse collapse" aria-expanded="false" navbar>
        <ul class="ls-main-menu-list nav navbar-nav" >
            <li class="ls-menu-list-ls">
                <a target="_self" ui-sref="home" ui-sref-active="current">{{home}}</a>
            </li>
            
            
            <li class="ls-menu-list-ls pull-right" ng-if="$root.currentUser">
              <div class="btn-group account-btn" >
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                  {{$root.currentUser.email}}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a target="_self" ui-sref="user.settings">
                      Settings
                    </a>
                  </li>
                  <li>
                    <a target="_self" ui-sref="user.posts">
                      My Posts
                    </a>
                  </li>
                  <li>
                    <a target="_self" ui-sref="user.logout">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              
            </li>
            
            
            
            <li class="login-register pull-right" style="margin-right: 10px" ng-if="!$root.currentUser">
              <a target="_self" ui-sref="user.register" ui-sref-active="current">{{register}}</a>
            </li>
            <li class="login-register pull-right" ng-if="!$root.currentUser">
              <a>/</a>
            </li>
            <li class="login-register pull-right" ng-if="!$root.currentUser">
              <a target="_self" ui-sref="login" ui-sref-active="current">{{login}}</a>
            </li>
            
             <li class="pull-right"  id="post-btn">
              <a target="_self" ui-sref="posts.new" ui-sref-active="current">Submit Free Ad</a> 
             </li>
             
            <!--
            <li class="ls-menu-list-ls pull-right">
                <a ui-sref="account" ui-sref-active="current">{{$root.currentUser.email}}</a>
                
                <ul>
                  <li>
                    <a ui-sref="user.logout" ui-sref-active="current">Logout</a>
                  </li>
                </ul>
            </li>
            -->
        </ul>
        <div class="ls-spacer-bar"></div>
    </div><!--/.nav-collapse -->
</div>

